tabula==1.0.5
pandas==2.0.3
XlsxWriter==3.1.9
pdfplumber==0.10.4
numpy==1.24.3
requests==2.31.0
PyPDF2==3.0.1
streamlit==1.36.0
imageio==2.26.0
pyperclip==1.8.2
pycryptodome==3.17
openpyxl==3.0.10
PyMuPDF==1.25.5
pdf2image==1.17.0
fitz==0.0.1.dev2
frontend ==0.0.3
static==1.1.1
